*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  max-height: 100vh;
  display: grid;
  place-content: center;
  position: relative;
  background: linear-gradient(#dddbd1, #d3dbdc);
}

#green-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 125px;
  background-color: #0c9588;
  z-index: -1;
}

.shell {
  width: 1100px;
  height: 90vh;
  display: grid;
  grid-template-columns: 380px 720px;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "profile--user profile--contact"
    "side-bar conversation";
}

.profile--user {
  grid-area: profile--user;
}

.profile--contact {
  grid-area: profile--contact;
}

.side-bar {
  grid-area: side-bar;
  display: flex;
  flex-direction: column;
}

.conversation-container {
  grid-area: conversation;
  display: flex;
  flex-direction: column;
}

.profile {
  background-color: #e9eae9;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.profile__image {
  height: 100%;
  border-radius: 50%;
}

.profile__name,
.profile__text {
  margin-right: auto;
}

.profile__icon {
  font-size: 1.5rem;
  padding: 0.5rem;
  color: #b1b1b2;
}

.notification {
  flex: 0 0 auto;
  padding: 0.5rem;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #8edafa;
}

.notification__icon {
  background-color: white;
  color: #8edafa;
  font-size: 25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.search-bar {
  flex: 0 0 auto;
  height: 50px;
  padding: 0.5rem;
  background-color: #fafafa;
  display: flex;
}

.search-bar__icon {
  height: 100%;
  background-color: white;
  display: grid;
  place-content: center;
  padding: 0.5rem 1rem;
}

.search-bar__input-text {
  flex: 1 0 auto;
  border: none;
}

.search-bar__input-text:focus {
  outline: none;
}

.chat-list-container {
  flex: 1 1 auto;
  overflow: auto;
  background-color: #fafaf9;
}

.chat-list {
  background-color: #ffffff;
  width: 97%;
  height: 100%;
  overflow: hidden;
}

.chat-item {
  height: 80px;
  display: grid;
  grid-template-areas:
    "image name last-access"
    "image last-message last-message";
  padding: 0.5rem;
}

.chat-item.active {
  background-color: #e9ebea;
}

.chat-item__image {
  height: 60px;
  border-radius: 50%;
  grid-area: image;
}

.chat-item__name {
  grid-area: name;
}

.chat-item__message {
  grid-area: last-message;
}

.chat-item__last-access {
  grid-area: last-access;
  text-align: end;
}

.conversation {
  flex: 1 1 auto;
  background-image: url(../img/mine.jpg);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.message {
  height: 55px;
  display: flex;
}

.message__baloon {
  flex: 0 0 auto;
  max-width: 50%;
  height: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  position: relative;
}

.message__baloon--sent {
  margin-left: auto;
  background-color: #d6f9be;
}

.message__baloon--received {
  background-color: #ffffff;
}

.message__time-stamp {
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
  font-size: 0.8rem;
}

.writing-bar {
  flex: 0 0 auto;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: #f2eeea;
}

.writing-bar__input-text {
  flex: 1 0 auto;
  height: 100%;
  border: none;
  border-radius: 0.25rem;
  background-color: white;
  padding: 0.5rem 1rem;
}

.writing-bar__icon {
  padding: 1rem;
  font-size: 1.5rem;
}
